<header>
	<h1>Scenes</h1>
	<ul class="actions">
		<li><%= link_to "New Scene", new_scene_path, class: "new" %></li>
	</ul>
</header>

<div id="scenes">
	<% @scenes.each do |scene| %>
		<h2><%= link_to scene.title, scene %></h2>
		<p><%= scene.description %></p>
		<p><%= scene.visual %></p>
	<% end %>
</div>
