<header>
	<h1>Storyboards</h1>

	<ul class="actions">
		<li><%= link_to "New Storyboard", new_storyboard_path,
			class: "new" %></li>
	</ul>
</header>

<div id="storyboards">
	<% @storyboards.each do |storyboard| %>
		<h2><%= link_to storyboard.title, storyboard %></h2>
		<p><%= storyboard.description %></p>
		<% if storyboard.default %>
			<p>Default Storyboard</p>
		<% end %>
		<p>Debug Mode: 
		<% if storyboard.debug_mode %>
			On
		<% else %>
			Off
		<% end %>

	<% end %>
</div>
