<div class="Wrapper">
<div id="index">

	<div class="welcomepage">
    </div>

	<div class="in_common" id="container_index" >
      
    	<div class="marque1">
         <!-- Change it to Key Frame then I can do whatever i want to do -->
       		<div class="stop">
           <marquee scrollamount="5" direction="right" behavior="scroll"> 
                <%=image_tag "vikship.gif", size: "60x50" %>
            </marquee>
        	</div>
     	</div>
     	<div class="marque2">
     		<div class="stop">
       	 	<marquee scrollamount="5" direction="left" behavior="scroll">
       	 	<%=image_tag "vikship.gif", size: "60x50" %>
                 
         	</marquee>
     	</div>
 	</div>   
</div>
</div>



