<div class="Wrapper" >
	<h1>Welcome to Treasure PyLand!</h1>

	<p>
		This is a game that is designed to test your ability to manipulate strings using Python3.  Upon completion, you will be awarded extra credit towards your final grade.
	</p>

	<h3>Instructions</h3>

	<h4>Overview</h4>

	<p>
		You will find the contract for the code that you need to write in the puzzle pane of the game.  This is the section on the bottom of the page that includes the input textarea.  Your goal is to write a Python3 function that follows the requirements in this contract.  You will also find the parameter/s that the codewill be using.
	</p>

	<h4>Typing in the Code</h4>

	<p>
		Your code will go in the input box.  Due to the nature of web pages, you will not want to use tabs to indent nested lines in your python code.  Instead, use four spaces for each tab.  This will ensure that the grader will process your code correctly. You may only type in one method per puzzle.
	</p>

	<h4>Hints and Tips</h4>
	
	<p>
		We would strongly recommend reading the documentation on the <%= link_to "python string class", "https://docs.python.org/3.1/library/string.html", target: "blank" %>.
	</p>
</div>