<div class="Wrapper" >
	
	Instructions

	Overview

	You will find the contract for the code that you need to write
	in the puzzle pane of the game.  This is the section on the 
	bottom of the page that includes the input box.  Your goal is 
	to write a python 3 function that follows the requirements in
	this contract.  You will also find the input/s that the code
	will be using.  

	Typing in the Code

	Your code will go in the input box.  Due to the nature of web
	pages, you will not want to use tabs to indent nested lines in
	your python code.  Instead, use four spaces for each tab.  This
	will ensure that the grader will process your code correctly.
	You may only type in one method per puzzle.

	Hints and Tips
	
	We would strongly recommend reading the documentation on the 
	python string class.

	You may also wish to visit the python3 math library documentation.
</div>