// update_scene.js.erb

$('#advisory').text('You won!!!');
$('#advisory').html('<h2 style="color:red">you lost</h2>');

$('#acknowledge').show();
$('#hideme').hide();

$('.advisory').text('you lost');
$('#puzzle_id').val('6');