.game_navigation {
	ul {
		
		display: flex;
		flex-flow: wrap;
		justify-content: space-around;
	}

	li {
		padding: 5px;
		vertical-align: middle;
		font-size: 200%;
		text-align: center;
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;

	}

	a {
		text-decoration: none;
	}

	a:link {
		color: #a48623;
		transition-property: all;
		transition-duration: 1s;
	}

	a:visited {
		color: #a48623;
		text-decoration: none;
	}

	a:hover {
		text-decoration: none;
		text-shadow: -2px -2px 20px blue, 2px 2px 20px blue;
	}
}
