// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#Wrapper {
	border: 3px solid #A6A616;
	width: 1200px;
	z-index: 1;
}

.navigation {
	width: auto;
}

#Story {
	width: auto;
	display: flex;
	height: 400px;
}

.col {
	flex: 1;
}

#Transcript {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 5px;
	padding: 10px;
	border: 3px solid #A6A616;
	overflow-y: scroll;
}

#Visual {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 10px;
	border: 3px solid #A6A616;
}



#Puzzle_Box {
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	border: 3px solid #A6A616;

	textarea {
		width: 1095px;
		height: 150px;
	}
	
}

#Result_Box {
	background-color: #FFF;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
}

#Failure {
	display: none;
}

#Try_Again {
	display: none;
}


#Success {
	display: none;
}

#Continue {
	display: none;
}

@media all and (min-width: 600px) {

}

@media all and (min_width: 800px) {
	#Transcript { order:1; }
	#Visual     { order:2; }
	#Puzzle_Box { order:3; }
}
