<nav class="admin_navigation">
	<ul>
		<li><%= link_to "Storyboards", storyboards_path %></li>
		<li><%= link_to "Scenes", scenes_path %></li>
		<li><%= link_to "Puzzles", puzzles_path %></li>
	</ul>
</nav>
